/nbproject/project.xml
/nbproject/project.properties
/_ide_helper.php
/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/config/l2pconfig.php
/config/database.php
/nbproject/private/
composer.lock
