<md-content class="md-padding">
<div class="definescroll">
        <div style="margin-top:10px;margin-left:10px;margin-right:10px;">
        	<p><h3 style="color:#00549f">Mobile View L2p</h3></p>
        	<hr>
        </div>
        <div style="background:#fff;margin: 10px 10px 30px 10px;">
        	<div style="margin-top:10px;">

        		This Mobile View for RWTH Aachen - L2p is developed during <b>L2p Developlment Lab</b> by 
        		<ul style="margin-left:30px;margin-top:10px;">
        		<li>JingJing Wang</li>
        		<li>Odgiv Kh</li>
        		<li>Waqar Ahmed</li>
        		<li>Muhammad Salman</li>
        		<li>Yuanji Wang</li>
        		<li>Wang Shuo</li>
        		</ul>

        	</div>
        </div>

        <div style="margin-top:10px;margin-left:10px;margin-right:10px;">
        	<p><h3 style="color:#00549f">Angular Material</h3></p>
        	<hr>
        </div>
        <div style="background:#fff;margin: 10px 10px 10px 10px;">
        	<div style="margin-top:10px;">

				Powered by Google ©2014–2016. Code licensed under the MIT License. Documentation licensed under CC BY 4.0.        		

        	</div>
        </div>

        <div style="margin-top:10px;margin-left:10px;margin-right:10px;">
        	<p><h3 style="color:#00549f">PHP Laravel</h3></p>
        	<hr>
        </div>
        <div style="background:#fff;margin: 10px 10px 10px 10px;">
        	<div style="margin-top:10px;">

				Laravel is a trademark of Taylor Otwell. Copyright © Taylor Otwell.
     		

        	</div>
        </div>
    </div>

 </md-content>