<div class="listdemoListControls">

    <md-list style="height:20px !important;" flex>

            
            <md-subheader class="md-no-sticky" style="margin-bottom:10px !important;color: #666;"><b>Courses - Summer Semester 2016</b>
            </md-subheader> 

      <md-list-item ng-repeat="course in courses" ng-click="gotoCourse(course.id)" ng-init="outerIndex = $index">

            <md-checkbox style="display:none;"></md-checkbox>

                <span class="numberCircle">{{outerIndex + 1}}</span> <span class="course_title">{{course.title}}</span>
      
             <md-divider></md-divider>

            <md-icon class="md-secondary" ng-click="" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
    </md-list-item>

    </md-list>
</div>
    