<div class="listdemoListControls">

      <div id="coursetitle">
        <md-subheader style="margin:10px 0 10px 0 !important; color: black;" flex>
          <div layout="row" layout-align="begin center" ng-model="selectedSemester" style="height:30px !important; ">
            <h4 style="margin-right:10px;font-size:16px!important;"><b>Semester: </b></h4>
            <span flex></span>
            <md-input-container>
              <md-select ng-model="selectedSemester" ng-model-options="{trackBy: '$value.sem'}">
                <md-option ng-repeat="semester in semesters" ng-value="semester">{{semester.name}}</md-option>
              </md-select>
            </md-input-container>
          </div>
        </md-subheader>
      </div>

    <md-list style="height:20px !important;" flex>
      <md-list-item ng-repeat="course in courses|filter: {'semester':selectedSemester.sem}" ng-click="gotoCourse(course.itemId,course.uniqueid); $parent.setNav(course.courseTitle)" ng-init="outerIndex = $index">
        <div class="block h-center v-center"><span ng-style="{'background-color':colors[$index]}">{{course.description != '' ? course.description : 'X'}}</span></div>
        <span class="main_title">{{course.courseTitle}}</span>

        <md-divider ng-if="!$last"></md-divider>
        <md-icon class="md-secondary" ng-click="" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
      </md-list-item>
    </md-list>

   <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="coursesLoaded" class="loadingicon">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
      </div>

</div>



