<md-subheader class="md-no-sticky"><b>What's new</b></md-subheader>
<div ng-cloak>
	<div class="fabbutton">
	   <md-button ng-class="{visible:selectedTab==3}" class="md-fab md-primary md-fab-bottom-right" ng-click="test()">
	   add
	   </md-button>
	   <md-button ng-class="{visible:selectedTab==4}" class="md-fab md-fab-bottom-right" ng-click="test()">
	   delete
	   </md-button>
  	</div>
	
	<div>
<!--     <h1 class="md-title">Update since</h1> -->
    <div layout="row">
      <md-input-container style="margin-right: 10px;">
        <label>Update Since</label>
        <md-select ng-model="lastday">
          <md-option ng-repeat="lastday in lastdays" value="{{lastday}}">{{lastday}}</md-option>
        </md-select>
      </md-input-container>       
    </div>
  </div>
  
  
	<md-content>
		<md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab">
			<md-tab label="">
				<md-content class="md-padding">
					<h3>Lecture Name</h3>
					<div class="row">
						<div class="span6">
							<div style="padding: 5px; border: 0px solid #aaa;">
								<div>Root</div>
								<div tree-view="structure" tree-view-options="options3"></div>
							</div>
						</div>
					</div>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</div>
