<div ng-if="dataLoading">Loading...</div>

	<div class="container-fluid" ng-if ="!dataLoading" layout-fill layout-padding>
		
			
				<div class="row">
					<div class="span8">
						
							<div class="btn-group">
								<md-button class="md-raised md-primary" ng-click="changeView('agendaDay', 'myCalendar1')">Day</md-button>
								<md-button class="md-raised md-primary" ng-click="changeView('agendaWeek', 'myCalendar1')">Week</md-button>
								<md-button class="md-raised md-primary" ng-click="changeView('month', 'myCalendar1')">Month</md-button>
							</div>
						
						<div class="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar1"></div>
					</div>
				</div>
			
		
	</div>


