
 <div ng-cloak>

	<div class="fabbutton" ng-show="WaitForToast">

		<md-button ng-class="{visible:selectedTab==1}" class="md-fab md-primary md-fab-bottom-right" ng-click="uploadSharedDoc($event)">
		   <ng-md-icon icon="file_upload"></ng-md-icon>
		</md-button>

		<md-button ng-class="{visible:selectedTab==3}" class="md-fab md-primary md-fab-bottom-right" ng-click="addDiscussion()">
	   		<ng-md-icon icon="note_add"></ng-md-icon>
	   	</md-button>

	   	<md-button ng-class="{visible:selectedTab==4}" class="md-fab md-primary md-fab-bottom-right" ng-click="viewEmail(undefined,'creat')" ng-show="authCUD">
	  		<ng-md-icon icon="note_add"></ng-md-icon>
	   	</md-button>

	   	<md-button ng-class="{visible:selectedTab==5}" class="md-fab md-primary md-fab-bottom-right" ng-click="viewAnnoun(undefined,'creat')" ng-show="authCUD">
	   		<ng-md-icon icon="note_add"></ng-md-icon>
	   	</md-button>

  	</div>

	<md-content class="singleCourseTabs">
		<md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab" md-swipe-content="true" class="tabclass">
			<md-tab label="Learning Material" md-on-select="onTabChanges(0)">
				<md-content class="md-padding">
				<!-- <div class="loadingicon" ng-hide="dataLoaded">
					<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
				</div> -->
					<h3>Learning Material</h3>
					<div class="row">
						<span ng-if="roleList.length == 0 || roleList === undefined" class="show_text_center">Nothing to show</span>
						<div class="span6 main_height">
							<div class="tree">

								<treecontrol class="tree-classic"
								   tree-model="roleList"
								   options="options"
								   on-selection="showSelected(node)"
								   selected-node="node1">
								   {{node.name}}
								</treecontrol>


							</div>
						</div>
					</div>
				</md-content>
			</md-tab>

			<md-tab label="Shared Documents" md-on-select="onTabChanges(2)">
				<md-content class="md-padding">
				<!-- <div class="loadingicon" ng-hide="dataLoaded">
					<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
				</div> -->
				 <input type="file" id="upload_file" ng-file-select="onFileSelect($files)" style="display:none;">
					<h3>Shared Documents</h3>
					<div class="row">
						<span ng-if="allSharedDocs.length == 0 || allSharedDocs === undefined" class="show_text_center">Nothing to show</span>
						<div class="span6 main_height">
							<div class="tree">

								<treecontrol class="tree-classic"
								   tree-model="allSharedDocs"
								   options="options"
								   on-selection="showSelected(node)"
								   selected-node="node1">
								   {{node.name}}
								</treecontrol>

							</div>
						</div>
					</div>
				</md-content>
			</md-tab>

			<md-tab label="Assignments" md-on-select="onTabChanges(2)">
				<md-content class="md-padding">
					<div class="singlecourse main_height">
						<span ng-if="assignments.length == 0 || assignments === undefined" class="show_text_center">Nothing to show</span>

						<div class="md-accordion customwidth" ng-repeat="assignment in assignments|orderBy:'assignmentPublishDate':true">
        				<md-toolbar ng-init="data.expanded = false" ng-click="data.expanded = !data.expanded">

            				<div class="customcolor_email" layout="row" layout-align="begin center">
                    			<div style="width:40px;height:40px">

                 					<img src="images/file_icon.png" alt="icon" height="30" width="30" style="margin-right:5px;">

                    			</div>

                			<div id="wrapper" layout="column" flex="70">
                        		<div class="inner1"><b>{{assignment.title}}</b></div>
        			    		<div class="inner2"><b>Due Date: </b>{{assignment.dueDate * 1000 | date:'dd-MM-yyyy, HH:mm'}} </div>
								<div class="inner2"><b>Total Points: </b> {{assignment.totalPoint}}</div>

        					</div>
            					<span flex></span>
            					<span ng-class="{expandCollapse:true, active:data.expanded}"></span>
            				</div>
        				</md-toolbar>

        				<div ng-class="{dataContent:true, activeContent:data.expanded}">

              			 	  <div style="margin-right:10px !important;">
              			 	  <p style="margin-bottom:5px;" >

              			 	  	<b>{{assignment.title}}</b></p>
              			 	 	 <hr>

								<div ng-repeat="doc in assignment.assignmentDocuments" ng-click="downloadAssignment(doc)">
									<div style="display: flex;align-items: center;margin-left:5px;">
									<img src="images/folder_icon.png" alt="icon" height="24" width="24" style="margin-top:8px;">
									<span style="margin-top:7px;color:darkblue;">{{doc.fileName}}</span>
									</div>
								</div>

								<p ng-if="assignment.solution.solutionDocuments.length>0" style="margin-bottom:5px;margin-top:15px;" ><b>Uploaded Solution</b></p>
              			 	 	 	<hr ng-if="assignment.solution.solutionDocuments.length>0">
								<div ng-if="assignment.solution.solutionDocuments.length==0"></div>
								<div ng-repeat="doc in assignment.solution.solutionDocuments" ng-click="downloadAssignment(doc)">

									<div style="display: flex;align-items: center;">
									<img src="images/folder_icon.png" alt="icon" height="24" width="24" style="margin-top:8px;">
									<span style="margin-top:7px;color:darkblue;">{{doc.fileName}}</span>
									</div>
								</div>


								<p style="margin-bottom:5px;margin-top:15px;"  ng-if="assignment.correction.correctionDocuments.length>0"><b>Corrected Solution</b></p>
              			 	 		<hr ng-if="assignment.correction.correctionDocuments.length>0">
								<div ng-if="assignment.correction.correctionDocuments.length==0"></div>

								<div ng-repeat="doc in assignment.correction.correctionDocuments" ng-click="downloadAssignment(doc)">


									<div style="display: flex;align-items: center;">
									<img src="images/folder_icon.png" alt="icon" height="24" width="24" style="margin-top:8px;">
									<span style="margin-top:7px;color:darkblue;">{{doc.fileName}}</span>
									</div>
								</div>


								<p style="margin-bottom:5px;margin-top:15px;" ng-if="assignment.SampleSolutionDocuments.length>0"><b>Sample Solution</b></p>
              			 	 	 <hr ng-if="assignment.SampleSolutionDocuments.length>0">
								<div ng-if="assignment.SampleSolutionDocuments.length==0"></div>

								<div ng-repeat="doc in assignment.SampleSolutionDocuments" ng-click="downloadAssignment(doc)">


									<div style="display: flex;align-items: center;">
									<img src="images/folder_icon.png" alt="icon" height="24" width="24" style="margin-top:8px;">
									<span style="margin-top:7px;color:darkblue;">{{doc.fileName}}</span>
									</div>
								</div>


                			</div>
            			</div>
       				 </div>

       				 <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="emailsLoaded" class="loadingicon">
           			 <md-progress-circular md-mode="indeterminate"></md-progress-circular>
       				 </div>

					</div>
				</md-content>
			</md-tab>


			<md-tab label="Discussion Forum" md-on-select="onTabChanges(3)">
				<md-content class="md-padding main_height">

				<span ng-if="discussions.length == 0 || discussions === undefined" class="show_text_center">Nothing to show</span>
				<div ng-repeat="discussion in discussions | index| orderBy:'created':true" ng-init="discussion.showReplies=false;" ng-show="discussLoaded">

					<ul class="post-grid" ng-click="discussion.showReplies=!discussion.showReplies">
          					<li  class="col-s-4" ng-class="{'reset-s': $index%3==0 }" >
            					<div style="margin-left:-10px;">
            						<h4 style="margin-bottom:6px;">{{discussion.subject}}</h4>
            						<div layout="row" layout-align="end center">
            							<p class="discussion_question" ng-show="discussion.showReplies" ng-class="{'dynamic_height':discussion.byMe}" ng-bind-html="discussion.body"></p>
            							<span flex></span>
            							<md-button class="md-icon-button" ng-click="showConfirmDiscussion(event,discussion.selfId,discussion.index);$event.stopPropagation()" ng-show="discussion.showReplies&&discussion.byMe" style="margin-right:-8px;">
		            						<ng-md-icon icon="delete"></ng-md-icon>
		         				 		</md-button>
            						</div>
            						<p class="fa fa-comment" style="margin-top: 6px;"> {{discussion.counts}}</p>
            						<p class="discussion_username" style="margin-top: 6px;">{{discussion.from}} {{discussion.created*1000|date: 'mediumDate'}}</p>
            					</div>
            				</li>
       				</ul>

       				<div ng-show="discussion.showReplies" class="post-grid" style="background:#F6F9FE;">
						<div class="replybox_div">
							<textarea rows="3" name="reply" placeholder="Add you reply.." ng-model="discussion.ReplyToBody">{{discussion.ReplyToBody}}</textarea>
							<div class="reply_button" layout="row" layout-align="end center">
								<span flex></span>
						 		<md-button class="md-raised md-primary" ng-click="addDiscussionReply(discussion.selfId,discussion.ReplyToBody)">Reply</md-button>
						 	</div>
						</div>

						<div class="reply_from_users" ng-init="reply.showReplies=false; innerindex=$index" ng-repeat="reply in discussion.children">
					  		<div layout="row">
					  			<h4 class="reply_user_name">{{reply.from}}</h4>
					  			<span flex></span>
					  			<h4 class="reply_level">#{{reply.level}}</h4>
					  		</div>
					  		<p class="reply_body" ng-show="reply.replyToId!=discussion.selfId" style="font-size:14px;"><b>Reply to {{reply.fromName}}'s post on #{{reply.fromLevel}}</b></p>
						  	<p class="reply_body" ng-bind-html="reply.body"></p>
						  	<div layout="row">
							  	<p class="reply_date" flex="30" flex-sm="40" flex-gt-sm="45" ng-click="reply.showReplies=!reply.showReplies">Reply</p>
							  	<p class="reply_date" flex ng-click="showConfirmDiscussionReply(ev,reply.selfId,discussion.index,innerindex)" ng-show="reply.byMe">Delete</p>
							  	<span flex></span>
							  	<p class="reply_date" style="margin-right:16px; font-style: italic;" ng-click="reply.showReplies=!reply.showReplies">{{reply.created*1000|date: "dd MMM' at' h:mm"}}</p>
							</div>

							<div class="replybox_div" ng-show="reply.showReplies">
								<textarea rows="3" name="reply" placeholder="Add you reply.." ng-model="reply.replyToBody">{{reply.replyToBody}}</textarea>
								<div class="reply_button" layout="row" layout-align="end center">
									<span flex></span>
						 			<md-button class="md-raised md-primary" ng-click="addDiscussionReply(reply.selfId,reply.replyToBody)">Reply</md-button>
						 		</div>
							</div>
							<md-divider ng-if="!$last" style="margin-top:4px;"></md-divider>
						</div>

					</div>
				</div>

				<div layout="row" layout-sm="column" layout-align="space-around" ng-hide="discussLoaded" class="loadingicon">
		 			<md-progress-circular md-mode="indeterminate"></md-progress-circular>
				</div>
				<br><br><br><br><br>
				</md-content>
			</md-tab>


			<md-tab label="Emails" md-on-select="onTabChanges(4)">
				<md-content class="md-padding">
					<div class="singlecourse  main_height">
						<span ng-if="emails.length == 0 || emails === undefined" class="show_text_center">Nothing to show</span>
						<div class="md-accordion customwidth" ng-repeat="email in emails|orderBy:'created':true" ng-show="emailsLoaded" ng-init="outerIndex = $index">
        				<md-toolbar ng-init="data.expanded = false" ng-click="data.expanded = !data.expanded">

            				<div class="customcolor_email" layout="row" layout-align="begin center">
                    			<div class="type_circle h-center v-center" style="width:40px;height:40px">
                 					<span ng-style="{'background-color':colors_email[$index]}">{{trimFirstLetter(email.from);}}</span>
                    			</div>

                			<div id="wrapper" layout="column" flex="70">
                        		<div class="inner1"><b>{{email.subject}}</b></div>
        			    		<div class="inner2">{{email.created*1000|date:'medium'}}</div>
        					</div>

            					<span flex></span>
            					<span ng-class="{expandCollapse:true, active:data.expanded}"></span>
            				</div>
        				</md-toolbar>

        				<div ng-class="{dataContent:true, activeContent:data.expanded}">

              			 	  	<md-button class="md-icon-button" ng-click="showConfirmEmail($event,email)" ng-show="authCUD" style="float:right;margin-right:-20px;margin-top:-20px;">
	            				<ng-md-icon icon="delete" style="color:red !important;"></ng-md-icon>
	         				 	</md-button>

              			 	   <div class="clear" ng-show="authCUD"></div>

              			 	  <div style="margin-right:10px !important;">
              			 	  <p style="margin-bottom:5px;" ><b>{{email.subject}}</b></p>
              			 	 	 <p class="discussion_question" ng-bind-html="email.body"></p>
                			</div>
            			</div>
       				 </div>

       				 <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="emailsLoaded" class="loadingicon">
           			 <md-progress-circular md-mode="indeterminate"></md-progress-circular>
       				 </div>
    			</div>

				</md-content>
			</md-tab>

			<md-tab label="Announcements" md-on-select="onTabChanges(5)">
			<md-content class="md-padding">
					<div class="singlecourse  main_height">
						<span ng-if="announcements.length == 0 || announcements === undefined" class="show_text_center">Nothing to show</span>
						<div class="md-accordion customwidth" ng-repeat="announcement in announcements|orderBy:'created':true" ng-init="outerIndex = $index" ng-show="announcementsLoaded">
        				<md-toolbar ng-init="data.expanded = false" ng-click="data.expanded = !data.expanded">

            				<div class="customcolor_email" layout="row" layout-align="begin center">
                    			<div class="type_circle h-center v-center" style="width:40px;height:40px">
                 					<span ng-style="{'background-color':colors_announcement[$index]}">A</span>
                    			</div>

                			<div id="wrapper" layout="column" flex="70">
                        		<div class="inner1"><b>{{announcement.title}}</b></div>
        			    		<div class="inner2"><b>Created: </b>{{announcement.created*1000| date:'mediumDate'}} </div>
								<div class="inner2"><b>Expire: </b>{{(announcement.expireTime==0) ? '' : announcement.expireTime*1000| date:'mediumDate'}}</div>

        					</div>
            					<span flex></span>
            					<span ng-class="{expandCollapse:true, active:data.expanded}"></span>
            				</div>
        				</md-toolbar>

        				<div ng-class="{dataContent:true, activeContent:data.expanded}">

              			 	  	<md-button class="md-icon-button" ng-click="showConfirmAnnoucnment($event,announcement)" ng-show="authCUD" style="float:right;margin-right:-20px;margin-top:-20px;">
	            				<ng-md-icon icon="delete" style="color:red !important;"></ng-md-icon>
	         				 	</md-button>

	         				 	<md-button class="md-icon-button" ng-click="viewAnnoun(announcement,'edit')" ng-show="authCUD" style="float:right;margin-right:-5px;margin-top:-20px;">
	            				<ng-md-icon icon="edit" style="color:red !important;"></ng-md-icon>
	         				 	</md-button>

              			 	   <div class="clear" ng-show="authCUD"></div>

              			 	  <div style="margin-right:10px !important;">
              			 	  <p style="margin-bottom:5px;" ><b>{{announcement.title}}</b></p>
              			 	 	 <p class="discussion_question" ng-bind-html="announcement.body"></p>
                			</div>
            			</div>
       				 </div>

       				 <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="announcementsLoaded" class="loadingicon">
           			 <md-progress-circular md-mode="indeterminate"></md-progress-circular>
       				 </div>
    			</div>
				</md-content>
			</md-tab>


			<!-- <md-tab label="Course Info">
				<md-content class="md-padding" layout ="column">
				<div class="main_height">
					<h3 ng-if="courseinfos.length == 0 || courseinfos === undefined">Nothing to show</h3>
					<md-card ng-repeat="courseinfo in courseinfos">
						<md-card-title>
							<md-card-title-text>
								<span class="md-headline">{{courseinfo.coursetitle}}</span>
								<span class="md-subhead">{{courseinfo.description}}</span>
							</md-card-title-text>
						</md-card-title>
						<md-card-content>
							<a href="{{courseinfo.url}}">{{courseinfo.url}}</a>
						</md-card-content>
					</md-card>
					</div>
				</md-content>
			</md-tab> -->
		</md-tabs>
	</md-content>
</div>

	 <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="dataLoaded" class="loadingicon">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>



