<md-subheader class="md-no-sticky"><b>Course Name</b></md-subheader>
<div ng-cloak>
	<md-content>
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Learning Material">
				<md-content class="md-padding">
					<h3>Learning Material</h3>
					<div class="row">
						<div class="span6">
							<div style="padding: 5px; border: 0px solid #aaa;">
								<div>Root</div>
								<div tree-view="structure" tree-view-options="options3"></div>
							</div>
						</div>
					</div>
				</md-content>
			</md-tab>
			<md-tab label="Assignments">
				<md-content class="md-padding">
					<div class="singlecourse">
						<ul>
							<li>
								<img src="../images/pdf_icon.png" >
								<h3>Assignment 1</h3>
								<p>Published Date : 22/4/16 20:00</p>
								<p>Due Date :       2/5/16  10:00</p>
								<p>Total Points:    5.0</p>
							</li>
							
							<li>
								<img src="../images/pdf_icon.png" >
								<h3>Assignment 2</h3>
								<p>Published Date : 22/4/16 20:00</p>
								<p>Due Date :       2/5/16  10:00</p>
								<p>Total Points:    5.0</p>
							</li>

							<li>
								<img src="../images/pdf_icon.png" >
								<h3>Assignment 3</h3>
								<p>Published Date : 22/4/16 20:00</p>
								<p>Due Date :       2/5/16  10:00</p>
								<p>Total Points:    5.0</p>
							</li>

							<li>
								<img src="../images/pdf_icon.png" >
								<h3>Assignment 4</h3>
								<p>Published Date : 22/4/16 20:00</p>
								<p>Due Date :       2/5/16  10:00</p>
								<p>Total Points:    5.0</p>
							</li>

							<li>
								<img src="../images/pdf_icon.png" >
								<h3>Assignment 5</h3>
								<p>Published Date : 22/4/16 20:00</p>
								<p>Due Date :       2/5/16  10:00</p>
								<p>Total Points:    5.0</p>
							</li>
						</ul>
					</div>
				</md-content>
			</md-tab>
			<md-tab label="Media Library">
				<md-content class="md-padding">
					<h1 class="md-display-2">Media Library</h1>
					<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
				</md-content>
			</md-tab>
			<md-tab label="Emails">
				<md-content class="md-padding">
					<div class="singlecourse">
						<ul>
							<li>
								<h3>This is an Email</h3>
								<p>Recipient: Students, Managers</p>
								<p>Created by: L2P</p>
								<p>Created Date: 30/05/16 20:00</p>
							</li>
							<li>
								<h3>The second Emial</h3>
								<p>Recipient: Extra Users</p>
								<p>Created by: L2P</p>
								<p>Created Date: 30/05/16 20:00</p>
							</li>
							<li>
								<h3>Test Emails</h3>
								<p>Recipient: Students</p>
								<p>Created by: L2P</p>
								<p>Created Date: 30/05/16 20:00</p>
							</li>
						</ul>
					</div>
				</md-content>
			</md-tab>
			<md-tab label="Announcements">
				<md-content class="md-padding" layout ="column">
					<md-card>
						<md-card-title>
							<md-card-title-text>
								<span class="md-headline">This is an announcement.</span>
								<span class="md-subhead">Created by L2P at 30/05/16 20:00</span>
							</md-card-title-text>
						</md-card-title>
						<md-card-content>
							<p>
							The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request.
							</p>
						</md-card-content>
					</md-card>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</div>
