<!-- <md-subheader class="md-no-sticky"><b>Course Name</b></md-subheader>
 --><div ng-cloak>

	<div class="fabbutton">
	   <md-button ng-class="{visible:selectedTab==3}" class="md-fab md-primary md-fab-bottom-right" ng-click="viewEmail(undefined,'creat')" ng-show="authCUD">
	   <ng-md-icon icon="note_add"></ng-md-icon>
	   </md-button>
	   <md-button ng-class="{visible:selectedTab==4}" class="md-fab md-primary md-fab-bottom-right" ng-click="viewAnnoun(undefined,'creat')" ng-show="authCUD">
	   <ng-md-icon icon="note_add"></ng-md-icon>
	   </md-button>
  	</div>

	<md-content class="singleCourseTabs">
		<md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab" md-swipe-content="true" class="tabclass" >
			<md-tab label="Learning Material" >
				<md-content class="md-padding">
				<!-- <div class="loadingicon" ng-hide="dataLoaded">
					<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
				</div> -->
					<h3>Learning Material</h3>
					<div class="row">
						<div class="span6 main_height">
							<div class="tree">

								<treecontrol class="tree-classic"
								   tree-model="roleList"
								   options="options"
								   on-selection="showSelected(node)"
								   selected-node="node1">
								   {{node.name}}
								</treecontrol>


							</div>
						</div>
					</div>
				</md-content>
			</md-tab>

			<md-tab label="Assignments">
				<md-content class="md-padding">
					<div class="singlecourse main_height">
						<ul>
							<li>
								<img src="images/pdf_icon.png">
								<h3>Assignment 1</h3>
								<p>Published Date : 22/4/16 20:00</p>
								<p>Due Date :       2/5/16  10:00</p>
								<p>Total Points:    5.0</p>
							</li>

							<li>
								<img src="images/pdf_icon.png" >
								<h3>Assignment 2</h3>
								<p>Published Date : 22/4/16 20:00</p>
								<p>Due Date :       2/5/16  10:00</p>
								<p>Total Points:    5.0</p>
							</li>

							<li>
								<img src="images/pdf_icon.png" >
								<h3>Assignment 3</h3>
								<p>Published Date : 22/4/16 20:00</p>
								<p>Due Date :       2/5/16  10:00</p>
								<p>Total Points:    5.0</p>
							</li>

							<li>
								<img src="images/pdf_icon.png" >
								<h3>Assignment 4</h3>
								<p>Published Date : 22/4/16 20:00</p>
								<p>Due Date :       2/5/16  10:00</p>
								<p>Total Points:    5.0</p>
							</li>

							<li>
								<img src="images/pdf_icon.png" >
								<h3>Assignment 5</h3>
								<p>Published Date : 22/4/16 20:00</p>
								<p>Due Date :       2/5/16  10:00</p>
								<p>Total Points:    5.0</p>
							</li>
						</ul>
					</div>
				</md-content>
			</md-tab>

			<md-tab label="Media Library">
				<md-content class="md-padding">
					<h1 class="md-display-2">Media Library</h1>
					<p class="main_height">Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
				</md-content>
			</md-tab>

			<md-tab label="Emails">
				<md-content class="md-padding">
					<div class="singlecourse  main_height">
						<ul ng-repeat="email in emails" ng-show="emailsLoaded">
							<li>
								<div layout="row" layout-align="begin center" ng-click="viewEmail(email,'read')">
									<div flex="grow">
										<h3>{{email.subject}}</h3>
										<p><b>Recipient:</b> {{email.recipients}}</p>
										<p><b>Created by:</b> {{email.from}}</p>
										<p><b>Created Date:</b> {{email.created*1000| date:'mediumDate'}}</p>
									</div>
									<span flex></span>
									<md-button class="md-icon-button" ng-click="deleteEmail(email); $event.stopPropagation()" ng-show="authCUD">
	            					<ng-md-icon icon="delete"></ng-md-icon>
	         				 		</md-button>
	         				 	</div>
							</li>
						</ul>
					  	<div layout="row" layout-sm="column" layout-align="space-around" ng-hide="emailsLoaded" class="loadingicon">
       			 			<md-progress-circular md-mode="indeterminate"></md-progress-circular>
        				</div>
					</div>
<!-- 					<div class="main_height" style="margin-top:-10;">
							<div class="md-accordion customwidth" ng-repeat="email in emails">
    							<md-toolbar ng-init="data.expanded = false" ng-click="data.expanded = !data.expanded">

        							<div class="md-toolbar-tools customcolor_email" >

                					<div id="wrapper">
    								<div id="inner1"> {{email.subject}}</div>
   									<div id="inner2"> {{email.created*1000| date:'medium'}}</div>

									</div>

            							<span flex=""></span>
            							<span ng-class="{expandCollapse:true, active:data.expanded}"></span>
        							</div>
    							</md-toolbar>
    						<div ng-class="{dataContent:true, activeContent:data.expanded}" >
       						 	<div style="margin-right:40px !important;">

       						 		<b>{{email.subject}}</b>
       						 		<p class="email_body">{{email.body}}</p>
       						 		<p><b>From: </b> {{email.from}}</p>


       							 </div>
       						 </div>
						</div>

					</div> -->

				</md-content>
			</md-tab>

			<md-tab label="Announcements">
			<md-content class="md-padding">
					<div class="singlecourse  main_height">
						<ul ng-repeat="announcement in announcements" ng-show="announcementsLoaded">
							<li>
								<div layout="row" layout-align="begin center" ng-click="viewAnnoun(announcement,'read')">
									<div flex="grow">
										<h3>{{announcement.title}}</h3>
										<p><b>expire date:</b> {{(announcement.expireTime==0) ? '' : announcement.expireTime*1000| date:'mediumDate'}}</p>
										<p><b>Created Date:</b> {{announcement.created*1000| date:'mediumDate'}}</p>
									</div>
									<span flex></span>
									<md-button class="md-icon-button" ng-click="deleteAnnoun(announcement); $event.stopPropagation()" ng-show="authCUD">
	            					<ng-md-icon icon="delete"></ng-md-icon>
	         				 		</md-button>
	         				 	</div>
							</li>
						</ul>
					  	<div layout="row" layout-sm="column" layout-align="space-around" ng-hide="announcementsLoaded" class="loadingicon">
       			 			<md-progress-circular md-mode="indeterminate"></md-progress-circular>
        				</div>
					</div>
				</md-content>

	 <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="dataLoaded" class="loadingicon">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>

