<md-dialog flex-gt-sm="50" flex="80" class="email-detail">
	<md-toolbar class="md-toolbar-tools">
	<div layout="row" layout-align="center center" flex ng-cloak>
		<md-button class="md-icon-button" ng-click="back()">
			<ng-md-icon icon="arrow_back"></ng-md-icon>
		</md-button>
		<h3>Details</h3>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="" ng-show="authDelete">
			<ng-md-icon icon="delete"></ng-md-icon>
		</md-button>
		<md-button class="md-icon-button" ng-click="addAnnoun()" ng-show="authWrite">
			<ng-md-icon icon="save"></ng-md-icon>
		</md-button>
	</div>
	</md-toolbar>
    <md-content layout="column">
	    <md-input-container>
	    	<label>Title</label>
	    	<input type="text" ng-model="currentannoun.title" ng-disabled="!authWrite" placeholder="">
		</md-input-container>

		<md-input-container ng-show="authWrite">
	    	<label>Content</label>
			<textarea rows="8" md-select-on-focus ng-disabled="!authWrite" placeholder=" " ng-model="currentannoun.body">{{currentannoun.body}}</textarea>
		</md-input-container>

		<div ng-show="!authWrite" class="email-content">
			<label>Content</label>
			<p ng-bind-html="currentannoun.body"></p>
		</div>
		<md-divider id="email-divider" ng-show="!authWrite"></md-divider>

		<div class="email-content" layout="column">
			<label>Expire Date</label>
			<md-datepicker ng-model="expireEdited" md-placeholder="Enter date" class="email-content" ng-disabled="!authWrite"></md-datepicker>
		</div>

	</md-content>
		<div style="font-size:13px; color:black;" id="creatinfo" ng-show="authShow">Created at {{currentannoun.created*1000| date:'medium'}}</div>
</md-dialog>
