.course_title
{
  font-style: bold;
  font-size: 3.5vw;
  margin-top: 1px;
  margin-bottom:1px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 13px;
    height: 13px;
    padding: 8px;
    margin-right: 10px;

    background: #666;
    border: 2px solid #666;
    color: #fff;
    text-align: center;

    font: 12px Arial, sans-serif, bolder;
}

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }

.listdemoListControls md-divider {
  margin-top: 0;
  margin-bottom: 0; }
.listdemoListControls md-list {
  padding-top: 0; }
.listdemoListControls md-list-item > p,
.listdemoListControls md-list-item > ._md-list-item-inner > p,
.listdemoListControls md-list-item ._md-list-item-inner > p,
.listdemoListControls md-list-item ._md-list-item-inner > ._md-list-item-inner > p {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

#coursetitle .md-subheader ._md-subheader-inner {
  padding : 4px 16px 4px 16px;
}