.md-accordion .expandCollapse {
  width:30px;
  height:30px;
  position:relative;
  font-size:18px;
  font-weight:bold;
  cursor:pointer;
  color:#000;
  display:block;
  margin-top: -2px;
  margin-left: -2px;
  overflow:hidden;
}

.md-accordion .expandCollapse:active {
  border:0px;
}

.md-accordion .expandCollapse:before, .md-accordion .expandCollapse:after {
  width:24px;
  height:24px;
  display:block;
  position:absolute;
  top:0; left:0;
  line-height:27px;
  text-align:center;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.md-accordion .expandCollapse:before {
  opacity:1
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  font-family: FontAwesome;
  font-style: normal !important;
  font-size: 30px;
  content: "\f105";
  margin-top:-2px;
}

/*.md-accordion .expandCollapse:after {
  opacity:1;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  content: "|";
  margin-left:-2px;
}
*/
.md-accordion .active:before {
  opacity:1;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left:2px;
  margin-top: 0px;
}

.md-accordion .dataContent {
  background: #F6F9FE;
  height:0px;
  overflow:hidden;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.md-accordion .activeContent {
  height:auto;
  padding: 20px;
  display: block;
  overflow: hidden;
  text-align: justify;
  text-justify: inter-word;
}

.md-accordion .activeContent >p{



}

.md-accordion md-toolbar{
  cursor: pointer;
  border-bottom: 1px solid #D6D6D6;
  min-height: 75px;
  background: white;
}

.customwidth
{
  padding: 0 20px 0 20px;
  margin: 0 -20 0 -20px !important;
  color: black !important;
}

.customcolor_email
{
  background: white !important;
  border-top: 1px black !important;
  border-bottom: 1px black !important;
  color: black !important;
  min-height: 75px !important;
  margin :5px 0 0 10px;

}


.inner1{
  font-size: 16px !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.inner2{
  clear: left;
  font-size: 12px !important;
}

.type_circle {
  position: relative;
  display: inline-block;
  float: left;
  font-weight: bold;
  color: #FFFFFF;
  margin-right: 10px;
  font-size: 12px;
  border-radius: 50%;
}

.type_circle span{
  padding: 11px 0 11px 0;
}

#wrapper div{
  padding-bottom: 5px;
}

.definescroll {
  height: calc(100% - 155px) !important;
   overflow: auto;
   overflow-x: hidden; 
}

.select-header md-input-container{
  margin: 2px 4px 0 0;
  padding: 0;
  line-height: normal;
}

.select-header label{
  font-size:18px!important;
  font-weight:bold;
  color:black !important;
}

.select-header h4{
  margin:0px 10px 8px 0;
  font-size:16px!important;
}

#emailtitle .md-subheader ._md-subheader-inner {
  padding : 8px 16px 8px 16px;
}