body {
    background: #00549f;
}

.wrapper
{

    margin-top: 5%; 

}

.authorizebutton {
	width:400px;height:100px;-webkit-border-radius: 5px 5px 5px 5px;-moz-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;background-color:#00549f;
	border: 2px solid white;
	line-height: 100px;

}

.authorizebutton:hover {
	
	background-color:white;

}

.container {

	font-weight: bolder;
	font-size: 30px;
	color: white;
	font-family: arial;
    
}

.container{
	color: #FFFFFF;
    text-decoration: none;
}



.wrapLink{
	width: 400px;
	height: 100px;
	border: 2px solid #fff;
	-webkit-border-radius: 5px 5px 5px 5px;-moz-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;
	margin: 0 auto;
	text-align: center;
	line-height: 100px;
}

.wrapLink a{
	font-size: 30px;
	color: white;
	text-decoration: none;
	text-align: center;
	display: block;
	font-family: arial;
}

.wrapLink a:active{
	color:black;
}


