* {margin: 0; padding: 0;}

.singlecourse >div {
  margin: 20px;
}

.singlecourse ul {
  list-style-type: none;
  width: 100%;
}

.singlecourse h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.singlecourse li img {
  float: left;
  margin: 0 15px 0 0;
  width: 100px;
  height: 100px;
}

.singlecourse li p {
}

.singlecourse li {
  padding: 10px;
  overflow: auto;
  border: 1px solid #e4e4e4;
  margin: 5px;

}

.singlecourse li:hover {
  background: #eee;
  cursor: pointer;
}

.fabbutton .md-fab.visible {
  transform: scale(1);
  transition: transform 0.3s linear;
}

.fabbutton .md-fab {
  transform: scale(0);
  transition: transform 0.3s linear;
}
.main_height
{
  height: 100% !important;
/*  border: 2px solid red !important;
*/}

.loadingicon{
 position: absolute;
 top: 20%;
 left: 40%;
}

.tree{
  padding-left: 0 !important;
}

.email-detail md-input-container{
  margin: 8px 8px 0 8px;
}

.email-detail textarea[disabled],.email-detail input[disabled]{
  color: #696969;
}

.email-detail #creatinfo {
  padding: 0 8px 12px 14px;
}

.email-detail md-content {
  padding :16px 8px 0 8px;
}

.email-content p{
  font-size: 15px;
  color: #696969;
  padding: 4px 8px 0 6px;
}

.email-content label{
  font-size: 11px;
  color: #696969;
  padding: 8px 8px 8px 8px;
}

.email-content{
  margin: 0 10px 0 0;
  max-height: 256px;
  overflow: scroll;
}

#email-divider{
  padding:0 0 20px 0;
  margin: 0 10px 0 0;
}

.ng-hide.ng-hide-animate{
     display: none !important;
}