* {margin: 0; padding: 0;}

.singlecourse >div {
  /*margin: 20px;*/
}

.singlecourse ul {
  list-style-type: none;
  width: 100%;
}

.singlecourse h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.email_body
{
  margin-top: 3px;
  margin-bottom: 15px;
  text-align: justify;
  text-justify: inter-word;
}

.singlecourse li img {
  float: left;
  margin: 0 15px 0 0;
  width: 50px;
  height: 50px;
}

.singlecourse li p {
}

.singlecourse li {
  padding: 10px;
  overflow: auto;
  border: 1px solid #e4e4e4;
  margin: 6px 5px 10px 5px;

}

.singlecourse li:hover {
  /*background: #eee;*/
  cursor: pointer;
}

.fabbutton .md-fab.visible {
  transform: scale(1);
  transition: transform 0.3s linear;
}

.fabbutton .md-fab {
  transform: scale(0);
  transition: transform 0.3s linear;
}
.main_height
{
  height: calc(100% - 140px) !important;
 /*border: 2px solid red !important;*/
}


.loadingicon{
 position: absolute;
 top: 40%;
 left: 40%;
}

.tree{
  padding-left: 0 !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ng-hide.ng-hide-animate{
     display: none !important;
}

::-webkit-scrollbar {
    display: none;
}

.post-grid {
  padding-bottom: 4px;
}

ul.post-grid {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.post-grid li {
  padding: 20px;
  cursor: pointer;
  -webkit-transition: background linear 0.5s;
  transition: background linear 0.5s;
  border-bottom: 1px solid #e4e4e4;
}

.discussion_question
{
  margin-bottom: 10px;
  margin-top:10px;
  overflow: hidden;
}

.discussion_username{

  float: right !important;
  font-style: italic;
  color: grey;
  font-size: 14px;

}

.define_height >p {
  max-height: 80px;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

.dynamic_height {
  width: calc(100% - 30px);
}

.ngTruncateToggleText {
    color: blue;
    font-size: 90%;
    font-style: italic underline;
}


.replybox_div{
    padding: 10px;
    height: auto;
}


.replybox_div textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px #5f6c7a solid;
  width: 100% !important;
}

::-webkit-input-placeholder {
  padding: 5px;
}

.reply_button {
  overflow: hidden;
  padding-top: 4px;
  margin-bottom:-4px;
}


.replybox_button{
 float: right !important;
 margin-top: 5px;
}

.reply_from_users
{
  width: 100%;
  margin-bottom: 6px;
}

.reply_user_name
{
  margin-left: 10px;
  padding-bottom: 4px;
}

.reply_level
{
  margin-right: 16px;
  padding-bottom: 4px;
  color: grey;
  font-size: 13px;
}

.reply_body
{

  margin-left: 20px;
  margin-top: 2px;
  padding-right: 12px;

}

.reply_date
{
    margin: 8px 0 0 20px;
    color: grey;
    font-size: 14px;
    padding-bottom: 6px;
    outline: none;
    border: 0;
}


.bubble
{
position: relative;
width: 100%;
padding: 0px;
background: #F2F2F2;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #7E7F7F solid 2px;
margin-top: 15px;
}

.bubble > ul{
  font-size: 12px;
}
.bubble li{
  border: none;
  padding: 3px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 20px 15px;
border-color: #F2F2F2 transparent;
display: block;
width: 0;
z-index: 1;
top: -15px;
left: 141px;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 21px 16px;
border-color: #7E7F7F transparent;
display: block;
width: 0;
z-index: 0;
top: -18px;
left: 140px;
}

.assignment_view_inside ul           
{
    list-style: none;
    border: 0 none !important;
    border: none !important;
    display: none;

}

.assignment_view_inside ul li:before {
    content: "\00BB \0020";
        display: none;

       }



