* {margin: 0; padding: 0;}

.singlecourse >div {
  /*margin: 20px;*/
}

.singlecourse ul {
  list-style-type: none;
  width: 100%;
}

.singlecourse h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.email_body
{
  margin-top: 3px;
  margin-bottom: 15px;
  text-align: justify;
  text-justify: inter-word;
}

.singlecourse li img {
  float: left;
  margin: 0 15px 0 0;
  width: 100px;
  height: 100px;
}

.singlecourse li p {
}

.singlecourse li {
  padding: 10px;
  overflow: auto;
  border: 1px solid #e4e4e4;
  margin: 6px 5px 10px 5px;

}

.singlecourse li:hover {
  background: #eee;
  cursor: pointer;
}

.fabbutton .md-fab.visible {
  transform: scale(1);
  transition: transform 0.3s linear;
}

.fabbutton .md-fab {
  transform: scale(0);
  transition: transform 0.3s linear;
}
.main_height
{
  height: calc(100% - 140px) !important;
/* border: 2px solid red !important;
*/}


.loadingicon{
 position: absolute;
 top: 40%;
 left: 40%;
}

.tree{
  padding-left: 0 !important;
}

.ng-hide.ng-hide-animate{
     display: none !important;
}

::-webkit-scrollbar {
    display: none;
}

ul.post-grid {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.post-grid li {
  padding: 20px;
  cursor: pointer;
  -webkit-transition: background linear 0.5s;
  transition: background linear 0.5s;
  border-bottom: 1px solid #a8a8a8;
}

.discussion_question
{
  margin-bottom: 10px; margin-top:10px;
}

.discussion_username{

  float: right !important;
  font-style: italic;
  color: grey;
  font-size: 14px;

}

.ngTruncateToggleText {
    color: blue;
    font-size: 90%;
    font-style: italic underline;
}


.replybox_div{
    padding: 10px;
    height: auto;
}


.replybox_div textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px #5f6c7a solid;
  width: 100%;
}

::-webkit-input-placeholder {
  padding: 5px;
}


.replybox_button{
 float: right !important;
 margin-top: 5px;
}

.reply_from_users
{
  width: 100%;
}

.reply_user_name
{
  margin-left: 10px;
  margin-bottom: 10px;

}

.reply_body
{

  margin-left: 20px;
  margin-top: 5px;
  padding-right: 12px;

}

.reply_date
{
    margin-top: 10px;
    margin-left: 20px;
    font-style: italic;
    color: grey;
    font-size: 14px;
    padding-bottom: 20px;


}

