.email-detail md-input-container{
  margin: 4px 8px 0 8px;
}

.email-detail textarea[disabled],.email-detail input[disabled]{
  color: #696969;
}

.email-detail input {
  max-width: 100%;
  max-height: 60px;
}

.email-detail
{
  padding-bottom: 10px;
}

.email-detail textarea {
}

.email-detail #creatinfo {
  padding: 0 18px 2px 14px;
  font-size:13px;
  color:black;
  overflow: visible;
}

.email-detail md-content {
  padding :20px 8px 0 8px;
}

.email-detail md-select {
  padding-bottom: 24px;
}

.email-detail ._md-container {
  display: inline-block;
}

.email-content >p{
  padding: 6px 8px 0 12px;
  max-height: 240px;
  overflow: scroll;
}

.email-content p{
  font-size: 15px;
  color: #696969;
  overflow-x: hidden;
  padding-bottom: 6px;
}

.email-content label{
  font-size: 11px;
  color: rgba(0,0,0,0.54);
  padding: 8px 8px 8px 8px;
  margin-left: 1px;
}

.email-content{
  margin: -7px 10px 0 0;
}

.email-content md-datepicker{
  margin: -6px -2px 8px -3px !important;
}

#email-divider{
  padding:0 0 14px 0;
  margin: 0 10px 0 0;
}


